.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: white;
}
.header-right {
    display: flex;
    align-items: center;
}
.header p {
    margin-left: 20px;
    margin-right: 20px;
}
.header p:hover {
    cursor:default;
}
.header-right p:hover {
    cursor: pointer;
    text-decoration: underline;
}
.header-right img:hover {
    cursor: pointer;
}
.header-right img {
    margin-left: 10px;
    margin-right: 10px;
}