.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: white;
}
.header-right {
    display: flex;
}
.header p {
    padding-left: 20px;
    padding-right: 20px;
}
.header p:hover {
    cursor:default;
}
.header-right p:hover {
    cursor: pointer;
    text-decoration: underline;
}