.project-items-container {
    display: grid;
    grid-template-columns: auto auto;
}
.project-item {
    display: flex;
    border-radius: 10px;
    background-color: white;
    color: black;
    width: 600px;
    margin: 20px;
    padding: 10px;
}
.project-item:hover {
    cursor: pointer;
    background-color: rgb(213, 213, 213); 
}
.title {
    font-size: 1.5em;
    font-weight: 600;
}
.projects-page {
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-title {
    text-align: center; 
}